
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    background-color: #8c99f4;
}

.navbareslumut{
    background-color: #746aac;
}

.logo-eslumut{
    width: auto;
    height: 100px;
    margin-right: 30px;
}

.produk-container{
    margin-top: 60px;
}

.foto-produk{
    width: 600px;
    height: auto;
}

.col-foto-produk{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.col-foto-produk h2{
    color: white;
    font-weight: bold;
}

.nama-produk{

    padding: 20px;

}


.nama-produk h2{
    font-size: 110px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;

}


.nama-produk .desc{
    font-size: 17px;
    color: white;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    text-align: justify;
    padding-left: 30px;
}


.millenial{
    color: #ffb300;
    font-size: 26px;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    text-align: justify;
    margin-top: -15px;
    margin-bottom: 30px;
}

.nav-item a{
    color: white;
    margin-right: 30px;
}

.nama-produk .harga{
    color: white;
    margin-top: 10px;
    background-color: #746aac;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

.pricetag{
    color: #ffb300;
    font-weight: bold;
    font-size: 25px;
    margin-top: 50px;
    background-color: #746aac;
    max-width: fit-content;
    padding: 16px;
    border-radius: 50px;
    cursor: pointer;
}

.bruh{
    color: black;
}

.col-product{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.col-product h3{
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    color:#746aac;

}

.col-product h4{
    font-size: 60px;
    font-weight: bold;

    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

.col-product img{
    width: 600px;
}

@media(max-width:800px){

    .produk-container{
        margin-top: 30px;
    }

    .foto-produk{
        width: 400px;
        overflow: hidden;
    }

    .nama-produk{
        margin-left: -20px;
        padding-right: 25px;
    }

    .nama-produk h2{
        font-size: 70px;
    }

    .nav-item a{
        margin-left: 30px;
    }

    .nav-item a:hover{
        color: #c43144;
    }

    .col-product img{
        width: 400px;
    }

    .col-product h4{
        font-size: 40px;
        font-weight: bold;
        color: white;
        margin: 0;
        padding: 0;
        text-align: center;
    
    }
}

@media(max-width:500px){
    .nama-produk h2{
        font-size: 52px;
    }

    .millenial{
        font-size: 20px;
        margin-top: -10px;
    }

    .logo-eslumut{
        width: auto;
        height: 70px;
        margin-right: 10px;
    }

    .nav-item a{
        margin-left: 20px;
    }

    .pricetag{
        margin-top: 30px;
    }


}